html {
    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    background-image: url(/IMAGE/cherry-blossom-forest-snowy-mountain-scenery-starry-night-sky-ai-4k-wallpaper-uhdpaper.com-742@1@l.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

.container {
    justify-content: center;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.box {
    border: 1px solid red;
    box-sizing: border-box;
}

.product {
    border: 1px solid black;
    color: aliceblue;
    max-width: 500px;
    text-align: center;
}